@model _3101_proyecto1.Models.EspecialistumViewModel

@{
    ViewData["Title"] = "Gestión de Especialistas";
}

<h3>Confirmación</h3>
@if (ViewBag.mensaje != null)
{
    <h4 class="danger">@ViewBag.mensaje</h4>
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdEspecialidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEspecialidad)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
