@model Backend.Models.EspecialistumViewModel

@{
    ViewData["Title"] = "Gestión de Especialistas";
}

<h1>Detalle de Especialista</h1>
<h4>@Html.ValueFor(Model => Model.Nombre)</h4>
@if (ViewBag.mensaje != null)
{
    <h4 class="danger">@ViewBag.mensaje</h4>
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identificacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioConsulta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecioConsulta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEspecialidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEspecialidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modificar</a> |
    <a asp-action="Index">Regresar</a>
</div>
