@model IEnumerable<Backend.Models.ReporteCitaViewModel>

@{
    ViewData["Title"] = "Reportes";
}

<h1>Reporte de Citas</h1>
<hr />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoraCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEspecialista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraCita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePaciente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEspecialista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo)
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index">Regresar</a>
<br />
<a asp-action="DescargaCitas">Descargar Reporte</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
