@model Backend.Models.ReservaConsultorioViewModel

@{
    ViewData["Title"] = "Gestión de consultorios";
}

<h1>Detalles de la reserva</h1>
@if (ViewBag.mensaje != null)
{
    <h4 class="danger">@ViewBag.mensaje</h4>
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroConsultorio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroConsultorio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiaSemana)
        </dt>
        <dd class="col-sm-10">
            @{
                var nombreDia = "";
                switch (Model.DiaSemana)
                {
                    case 0:
                        nombreDia = "Lunes";
                        break;
                    case 1:
                        nombreDia = "Martes";
                        break;
                    case 2:
                        nombreDia = "Miércoles";
                        break;
                    case 3:
                        nombreDia = "Jueves";
                        break;
                    case 4:
                        nombreDia = "Viernes";
                        break;
                    default:
                        break;
                }
            }
            @nombreDia;
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEspecialista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEspecialista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEquipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreEquipo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model?.Id">Eliminar</a> |
    <a asp-action="Index">Regresar</a>
</div>