@model IEnumerable<_3101_proyecto1.Models.ReservaConsultorioViewModel>

@{
    ViewData["Title"] = "Reserva de Consultorios";
}

<h1>Reserva de Consultorios</h1>
@if (ViewBag.mensaje != null)
{
    <h4 class="danger">@ViewBag.mensaje</h4>
}
<p>
    <a asp-action="Create">Nueva Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroConsultorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEspecialista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroConsultorio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEspecialista)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Ver detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
